<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="assets/img/data61-logo-black.png" sizes="76x76" href="assets/img/data61-logo-black.png">

  <link rel="icon" type="assets/img/data61-logo-black.png" href="assets/img/data61-logo-black.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Blockchain Boosting Trustworthy AI
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="{{ url_for('static',filename='css/font1.css') }}" rel="stylesheet" type= "text/css"/>
  <link href="{{ url_for('static',filename='css/font2.css') }}" rel="stylesheet" type= "text/css">
  <!-- CSS Files -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/now-ui-dashboard.css') }}">
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <div class="navbar-toggle">
          <button type="button" class="navbar-toggler">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </button>
        </div>
        <a class="navbar-brand" href="#pablo">Account Selection</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
      </button>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
          <form>
    <div class="input-group no-border">
        <input type="text" value="" class="form-control" placeholder="Search...">
        <div class="input-group-append">
         <div class="input-group-text">
           <i class="now-ui-icons ui-1_zoom-bold"></i>
         </div>
       </div>
    </div>
</form>
<ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link" href="#select_account_warning">
      <i class="now-ui-icons media-2_sound-wave"></i>
      <p>
        <span class="d-lg-none d-md-block">Stats</span>
      </p>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('user_profile') }}">
      <i class="now-ui-icons users_single-02"></i>
      <p>
        <span class="d-lg-none d-md-block">Account</span>
      </p>
    </a>
  </li>
</ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="wrapper wrapper-full-page ">
    <div class="full-page login-page section-image" filter-color="black" data-image="{{ url_for('static',filename='assets/img/bg14.img')}}">
      <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
      <div class="content">
        <div class="container">
          <div class="col-md-4 ml-auto mr-auto">
              <div class="card card-login card-plain">
                <div class="card-header ">
                  <div class="logo-container">
                      <img src="{{ url_for('static',filename='assets/img/now-logo.png')}}" alt="">
                  </div>
                </div>
              </div>
                  <div class="pull-right">
                    <h6>
                      <a href="{{ url_for('user_home') }}" class="btn btn-primary btn-round btn-lg btn-block mb-3">User</a>
                    </h6>

                  <div class="pull-right">
                    <h6>
                      <a href="{{ url_for('admin_home') }}" class="btn btn-primary btn-round btn-lg btn-block mb-3">Admin</a>
                    </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
  <!--   Core JS Files   -->
  <script src="{{ url_for('static',filename='js/jquery.min.js')}}"></script>
  <!-- Forms Validations Plugin -->
  <script src="{{ url_for('static',filename='js/query.validate.min.js')}}"></script>
  <!--  Notifications Plugin    -->
  <script src="{{ url_for('static',filename='js/bootstrap-notify.js')}}"></script>
  <script src="{{ url_for('static',filename='js/demo/demo.js')}}"></script>
  <script>
    $(document).ready(function() {
      demo.checkFullPageBackgroundImage();
    });
  </script>
</body>

</html>
