<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Blockchain Boosting Trustworthy AI
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
  <!-- CSS Files -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
  <script src="https://cdn.rawgit.com/ethereum/web3.js/develop/dist/web3.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  <script src="{{ url_for('static', filename='js/eth.js') }}" type="text/javascript"></script>
  <head>

<body>
  <!-- Navbar -->
  <ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
  </ul>
  <div class="vertbar">
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#news">News</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#about">About</a></li>
    </ul>
  </div>
  <!-- End Navbar -->
  <div class ="loginbox">
    <form action="{{ url_for('admin_home') }}">
      <h1>K Nearest Neighbour</h1>
       K- Value:<br>
       <input type="text" name="firstname" id = "1"><br><br>
       Test Data:<br>
       <input type="textarea" name="lastname" id = "2"><br><br>
       <button type="submit">Submit</button>
    </form>
</body>

</html>
