<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="static/img/data61-logo-black.png" sizes="76x76" href="static/img/data61-logo-black.png">
  <link rel="icon" type="static/img/data61-logo-black.png" href="static/img/data61-logo-black.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Blockchain Boosting Trustworthy AI
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
 <link href="{{ url_for('static',filename='font1.css') }}" rel="stylesheet" type= "text/css"/>
  <link href="{{ url_for('static',filename='font2.css') }}" rel="stylesheet" type= "text/css">
  <!-- CSS Files -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/now-ui-dashboard.css') }}">

</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <div class="navbar-toggle">
          <button type="button" class="navbar-toggler">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </button>
        </div>
        <a class="navbar-brand" href="#pablo">Register Page</a>

  </nav>
  <!-- End Navbar -->
  <div class="wrapper wrapper-full-page ">
    <div class="full-page register-page section-image" filter-color="black" data-image="static/img/bg16.jpg">
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-md-5 ml-auto">
              <div class="info-area info-horizontal mt-5">
                <div class="description">
                  <h5 class="info-title">AI Models</h5>
                  <p class="description">
                    We've created AI models for users to evaluate their data globally.
                  </p>
                </div>
              </div>
              <div class="info-area info-horizontal">
                <div class="description">
                  <h5 class="info-title">Combined with Blockchain</h5>
                  <p class="description">
                    A blockchain allows us to agree on the accuracy and state of a system, even if we don't all trust each other.
                  </p>
                </div>
              </div>
              <div class="info-area info-horizontal">
                <div class="description">
                  <h5 class="info-title">Users get reward</h5>
                  <p class="description">
                    The best users are rewarded! Try us out!
                  </p>
                </div>
                <div class="description">
                  <h5 class="info-title">Registering Sets you up with an Ethereum Account</h5>
                  <p class="description">
                    Simply remember your passphrase and enter it in each time you connect with the blockchain
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mr-auto">
              <div class="card card-signup text-center">
                <div class="card-header ">
                  <h4 class="card-title">Register Now</h4>
                </div>
                <form class="form" method="POST" action="/make_account">
                    <p>
                        {{ form.username.label }}<br>
                        {{ form.username(size=32) }}
                    </p>
                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password(size=32) }}
                    </p>
                    <p>
                        {{ form.confirm_password.label }}<br>
                        {{ form.confirm_password(size=32) }}
                    </p>
                    <p>{{ form.submit(class='btn btn-primary btn-round btn-lg btn-block mb-3') }}</p>
                </form>
                <span class="form-check-sign"></span>
                        <a href="{{ url_for('index') }}">
                          Already have an account? Click here!
                        <p> </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="{{ url_for('static',filename='assets/js/core/jquery.min.js')}}"></script>
  <!-- Forms Validations Plugin -->
  <script src="{{ url_for('static',filename='assets/js/plugins/jquery.validate.min.js')}}"></script>
  <!--  Notifications Plugin    -->
  <script src="{{ url_for('static',filename='assets/js/plugins/bootstrap-notify.js')}}"></script>
  <script src="{{ url_for('static',filename='assets/demo/demo.js')}}"></script>
  <script src="assets/demo/demo.js"></script>
  <script>
    $(document).ready(function() {
      demo.checkFullPageBackgroundImage();
    });
  </script>
</body>

</html>
