{% extends "base.html" %}
{% load static %}

{% block content_block %}
  <div class="row">

    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title text-info">Models</h5>
          <p class="category">Choose a model and start to evaluate your data.</p>
        </div>
        <div class="card-body all-icons">
          <div class="row">

            {# display all the models #}
            {% for model in model_sets %}
              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              {# TODO fill in href to display model #}
              <a class="hover text-info" href="{% url "upload_model:model_detail" model.pk %}">
                  <div class="font-icon-detail" onmouseover="MouseOver(this)" onmouseout="MouseOut(this)" style="border-color:">
                      <i class="now-ui-icons design_app text-info"></i>
                      <p>{{ model.model_name }}</p>
                  </div>
              </a>
              </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock content_block %}
