<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Blockchain Boosting Trustworthy AI
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- CSS Files -->


  <link rel="data61-icon.jpg" sizes="76x76"  href="{% static 'assets/img/data61-icon.jpg' %}">
  <link rel="icon" type="image/png"  href="{% static 'assets/img/data61-icon.jpg' %}">
  <link rel="stylesheet"  href="{% static 'assets/css/bootstrap.min.css' %}">
  <link rel="stylesheet"  href="{% static 'assets/css/now-ui-dashboard.css' %}">
  <link rel="stylesheet"  href="{% static 'assets/demo/demo.css' %}">


</head>

<body class=" sidebar-mini ">
<div class="wrapper ">
    <div class="sidebar" data-color="data61">
      <!--  Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"  -->
      <div class="logo">
        <a href="{% static '../admin_home' %}" class="simple-text logo-mini">
          {{ user.email.0 }}{{ user.email.1 }}
        </a>
        <a href="#" class="simple-text logo-normal">
          {{ user.get_short_name }}
        </a>
        <div class="navbar-minimize">
          <button id="minimizeSidebar" class="btn btn-simple btn-icon btn-neutral btn-round">
            <i class="now-ui-icons text_align-center visible-on-sidebar-regular"></i>
            <i class="now-ui-icons design_bullet-list-67 visible-on-sidebar-mini"></i>
          </button>
        </div>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a class = "active" href="{% static '../user_home' %}">
              <i class="now-ui-icons design_app"></i>
              <p>Models</p>
            </a>
          </li>
          <li>
            <a href="{% static '../user_profile' %}">
              <i class="now-ui-icons users_single-02"></i>
              <p>Profile</p>
            </a>
          </li>
        {#   if it's admin then show upload model     #}
        {% if  user.get_is_staff %}
            <li>
                <a href ="{% url 'upload_model:home' %}">
                <i class = "now-ui-icons files_box"></i>
                <p>My Model</p>
                </a>
            </li>
        {% endif %}
          <li>
            <a href="{% url 'logout' %}">
              <i class="now-ui-icons media-1_button-power"></i>
              <p>Log Out</p>
            </a>
          </li>
        </ul>
      </div>
    </div>

<div class="main-panel">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute bg-primary ">
  <div class="container-fluid">
    <div class="navbar-wrapper"> <a class="navbar-brand" href="#">Models</a> </div>

  </div>
</nav>
<!-- End Navbar -->

<div class="panel-header panel-header-sm"> </div>
<div class="content">
  {% if messages %}
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <h4 class="card-title">Submission Result</h4>
          {% for message in messages %}
          <h5 class="title text-info">{{message}}</h5>
          {% endfor %}
  </div></div></div></div>
  {% endif %}
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
            <div class="row">
                <div class="col-md-6">
                  {% load tz %}
                  {% timezone "Australia/Melbourne" %}
                    <h4 class="card-title">{{model.model_name}}<small class="description"> {{ model.creation_time }}</small> </h4>
                  {% endtimezone %}

                </div>
                <div class="col-md-4"></div>

                {% if user.get_is_staff %}
                <div class="col-md-2">
                    <button class="btn btn-danger btn-round">
                        <span class="btn-label">
                            <i class="now-ui-icons ui-1_simple-remove"></i>
                        </span>
                        <a href ="{% url "upload_model:delete_model" model.pk %}" style="color:white;">Delete Model</a>
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="card-body">
          <ul class="nav nav-pills nav-pills-primary" role="tablist">
            {% if I_am_creator %}
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#link2" role="tablist"> Your data results </a> </li>
            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist"> User data results </a> </li>
            {% else %}
            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#link2" role="tablist"> Your data results </a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#link1" role="tablist"> User data results </a> </li>
            {% endif %}
          </ul>
          <div class="tab-content tab-space">
            {% if I_am_creator %}
            <div class="tab-pane active" id="link1">
            {% else %}
            <div class="tab-pane" id="link1">
            {% endif %}


              {% if data_submitted %}
              <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                  <canvas id="chart1" width="100" height="100"></canvas>
                </div>
                <div class="col-md-4">
                  <table class="table">
                    <tbody>
                      <tr class="table-info">
                        <td>
                          Accuracy
                        </td>
                        <td>
                          Precision
                        </td>
                      </tr>
                      <tr>
                        <td>
                          {{ average_acc|floatformat:2 }}
                        </td>
                        <td>
                          {{ average_pre|floatformat:2 }}
                        </td>
                      </tr>
                      <tr class="table-info">
                        <td>
                          Recall
                        </td>
                        <td>
                          F1 Score
                        </td>
                      </tr>
                      <tr>
                        <td>
                          {{ average_rec|floatformat:2 }}
                        </td>
                        <td>
                          {{ average_f1|floatformat:2 }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <canvas id="chart2" width="100" height="100"></canvas>
                </div>
                <div class="col-md-3">
                  <canvas id="chart3" width="100" height="100"></canvas>
                </div>
                <div class="col-md-3">
                 <canvas id="chart4" width="100" height="100"></canvas>
                </div>
                <div class="col-md-3">
                  <canvas id="chart5" width="100" height="100"></canvas>
                </div>
              </div>

              <div class="row">
                <div class="card card-plain">
                  <div class="card-header" role="tab" id="headingOne">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      More Info
                      <i class="now-ui-icons arrows-1_minimal-down"></i>
                    </a>
                  </div>
                  <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-body">
                      <table class="table text-center">
                        <thead class=" text-primary">
                          <th>Score</th>
                          <th>Wallet Address</th>
                          <th>Accuracy</th>
                          <th>Precision</th>
                          <th>Recall</th>
                          <th>F1 Score</th>
                          {% if I_am_creator %}
                          <th>Pay</th>
                          {% endif %}
                        </thead>
                        <tbody>

                            {% for result in results %}
                              <tr>
                                <td>{{result.1.4}}</td>
                                <td>{{result.0}}</td>
                                <td>{{result.1.0 | floatformat:2}}</td>
                                <td>{{result.1.1 | floatformat:2}}</td>
                                <td>{{result.1.2 | floatformat:2}}</td>
                                <td>{{result.1.3 | floatformat:2}}</td>
                                {% if I_am_creator and not result.2 %}
                                  <td><a class ="btn btn-success fileinput-button" href="{% url 'upload_model:reward' result.0 model.pk result.1.4%}">Pay</a></td>

                                {% endif %}
                              </tr>
                            {% endfor %}

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              {% else %}
              <h2>No users have uploaded data for this model</h2>
              {% endif %}

            </div>

            {% if I_am_creator %}
            <div class="tab-pane" id="link2">
            {% else %}
            <div class="tab-pane active" id="link2">
            {% endif %}


            {% if user_data_exists  %}
              <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                  <canvas id="chart6" width="100" height="100"></canvas>
                </div>
                <div class="col-md-4">
                  <div class="progress-container progress-primary">
                    <span class="progress-badge">Accuracy</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ user_accuracy|floatformat:2 }}%;">
                        <span class="progress-value">{{ user_accuracy|floatformat:2 }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="progress-container progress-primary">
                    <span class="progress-badge">Precision</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ user_precision|floatformat:2 }}%;">
                        <span class="progress-value">{{ user_precision|floatformat:2 }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="progress-container progress-primary">
                    <span class="progress-badge">Recall</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ user_recall|floatformat:2 }}%;">
                        <span class="progress-value">{{ user_recall|floatformat:2 }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="progress-container progress-primary">
                    <span class="progress-badge">F1 Score</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ user_f1_score|floatformat:2 }}%;">
                        <span class="progress-value">{{ user_f1_score|floatformat:2 }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% else %}
            <h2>You have not uploaded any data.</h2>
            {% endif %}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if user_data_exists %}
  You have already uploaded data.
  {% else %}
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <h4 class="card-title">Upload Data</h4>
        </div>

        <div class="card-body ">
            <div class = "row">
                <div class = "col-sm-12">
                model specification
                </div>
            </div>
            {% for key,value in md_specification.items %}
                <div class = "row">
                    <div class = "col-sm-3">
                      {{ key }}
                    </div>
                    <div class = "col-sm-9">
                        {{ value }}
                    </div>
            </div>
            {% endfor %}
            <form  method = "post" enctype="multipart/form-data" action ="{% url "upload_model:upload_data" %}" class="form-horizontal">
            {% csrf_token %}
            <div class = "row">
                <label class="col-sm-2 col-form-label">data description</label>
                <div class="col-sm-7">
                    <div class="form-group">
                        <input class="form-control" type="text" name="description" required="false">
                        </input>
                    </div>
                </div>
            </div>
            <div class = "row">
                <label class="col-sm-2 col-form-label">data file</label>
                <div class="col-sm-10">
                    <div class="col-sm-2">
                        <div class="form-group"><span class = "btn btn-success fileinput-button"><span>Choose...</span>
                                        <input name = "data_file" type="file" accept=".csv">
                                    </span>
                        </div>
                    </div>
                    <span class="form-text">Original data set without header, the order of each data should follow specification order, the last column is always the actual label</span>
                </div>
            </div>
            {#hidden input#}
            <input type = "hidden" name ="data_type" value="{% if user.get_is_staff %}OR{% else %}TE{% endif %}"/>
            <input type = "hidden" name ="uploader" value ="{{ user.pk }}"/>
            <input type = "hidden" name = "relative_model" value="{{ model.pk }}">
            <div class="row">
                <label class="col-sm-2 col-form-label"></label>
                <div class ="col-sm-10">
                    <div class = "form-group">
                        <button type="submit" class = "btn btn-lg btn-primary btn-fill" >upload</button>
                    </div>
                </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

  </div>



</div>
<!--   Core JS Files   -->
<script src="{% static 'assets/js/core/jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/core/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/moment.min.js' %}"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="{% static 'assets/js/plugins/bootstrap-switch.js' %}"></script>
  <!--  Plugin for Sweet Alert -->
  <script src="{% static 'assets/js/plugins/sweetalert2.min.js' %}"></script>
  <!-- Forms Validations Plugin -->
  <script src="{% static 'assets/js/plugins/jquery.validate.min.js' %}"></script>
  <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script src="{% static 'assets/js/plugins/jquery.bootstrap-wizard.js' %}"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="{% static 'assets/js/plugins/bootstrap-selectpicker.js' %}"></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="{% static 'assets/js/plugins/bootstrap-datetimepicker.js' %}"></script>
  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
  <script src="{% static 'assets/js/plugins/jquery.dataTables.min.js' %}"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="{% static 'assets/js/plugins/bootstrap-tagsinput.js' %}"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="{% static 'assets/js/plugins/jasny-bootstrap.min.js' %}"></script>
  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
  <script src="{% static 'assets/js/plugins/fullcalendar.min.js' %}"></script>
  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <script src="{% static 'assets/js/plugins/jquery-jvectormap.js' %}"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="{% static 'assets/js/plugins/nouislider.min.js' %}"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="{% static 'assets/js/plugins/chartjs.min.js' %}"></script>
  <!--  Notifications Plugin    -->
  <script src="{% static 'assets/js/plugins/bootstrap-notify.js' %}"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'assets/js/now-ui-dashboard.min.js' %}" type="text/javascript"></script>
  <!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script src="{% static 'assets/demo/demo.js' %}"></script>
<script>
var ctx = document.getElementById("chart1").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'radar',
    data: {
        labels: ["Accuracy", "Precision", "Recall", "F1 Score"],
        datasets: [{
            label: 'Average Data Performance',
            data: [{{ average_acc }}, {{ average_pre |floatformat:2 }}, {{ average_rec |floatformat:2 }}, {{ average_f1|floatformat:2 }}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)'
            ],
            borderWidth: 2
        }]
    },
    options: {
		scale: {
			ticks: {
				beginAtZero: true
			}
		}
	}
});
</script>
<script>
var ctx = document.getElementById("chart2").getContext('2d');
var myChart = new Chart(ctx, {
	type: 'line',
	data: {
		labels: {{ sub_list }},
		datasets: [{
			label: 'Accuracy',
			backgroundColor: [
                'rgba(54, 162, 235, 0.2)'
            ],
            borderColor: [
                'rgba(54, 162, 235, 1)'
            ],
			data: {{ acc_list }},
			fill: true,
      borderWidth: 2
		}]
	},
	options: {
		responsive: true,
    scales: {
			yAxes: [{
				ticks: {
          min: 0,
					max: 100
				},
        scaleLabel: {
					display: true,
					labelString: 'Performance (%)'
				}
			}],
      xAxes: [{
        scaleLabel: {
          display: true,
          labelString: 'Test Set Index'
        }
      }]
		}
	}
});
</script>
<script>
var ctx = document.getElementById("chart3").getContext('2d');
var myChart = new Chart(ctx, {
	type: 'line',
	data: {
		labels: {{ sub_list }},
		datasets: [{
			label: 'Precision',
			backgroundColor: [
                'rgba(255, 206, 86, 0.2)'
            ],
            borderColor: [
                'rgba(255, 206, 86, 1)'
            ],
			data: {{ pre_list }},
			fill: true,
		}]
	},
	options: {
		responsive: true,
    scales: {
			yAxes: [{
				ticks: {
          min: 0,
					max: 100
				},
        scaleLabel: {
					display: true,
					labelString: 'Performance (%)'
				}
			}],
      xAxes: [{
        scaleLabel: {
          display: true,
          labelString: 'Test Set Index'
        }
      }]
		}
	}
});
</script>
<script>
var ctx = document.getElementById("chart4").getContext('2d');
var myChart = new Chart(ctx, {
	type: 'line',
	data: {
		labels: {{ sub_list }},
		datasets: [{
			label: 'Recall',
			backgroundColor: [
                'rgba(75, 192, 192, 0.2)'
            ],
            borderColor: [
                'rgba(75, 192, 192, 1)'
            ],
			data: {{ rec_list }},
			fill: true,
		}]
	},
	options: {
		responsive: true,
    scales: {
			yAxes: [{
				ticks: {
          min: 0,
					max: 100
				},
        scaleLabel: {
					display: true,
					labelString: 'Performance (%)'
				}
			}],
      xAxes: [{
        scaleLabel: {
          display: true,
          labelString: 'Test Set Index'
        }
      }]
		}
	}
});
</script>
<script>
var ctx = document.getElementById("chart5").getContext('2d');
var myChart = new Chart(ctx, {
	type: 'line',
	data: {
		labels: {{ sub_list }},
		datasets: [{
			label: 'F1 Score',
			backgroundColor: [
                'rgba(153, 102, 255, 0.2)'
            ],
            borderColor: [
                'rgba(153, 102, 255, 1)'
            ],
			data: {{ f1_list }},
			fill: true,
		}]
	},
	options: {
		responsive: true,
    scales: {
			yAxes: [{
				ticks: {
					min: 0,
					max: 100
				},
        scaleLabel: {
        	display: true,
        	labelString: 'Performance (%)'
        }
			}],
      xAxes: [{
        scaleLabel: {
          display: true,
          labelString: 'Test Set Index'
        }
      }]
		}
	}
});
</script>
<script>
var ctx = document.getElementById("chart6").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'radar',
    data: {
        labels: ["Accuracy", "Precision", "Recall", "F1 Score"],
        datasets: [{
            label: 'Average Data Performance',
            data: [{{ user_accuracy }}, {{ user_precision|floatformat:2 }}, {{ user_recall|floatformat:2 }}, {{ user_f1_score|floatformat:2 }}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)'
            ],
            borderWidth: 2
        }]
    },
    options: {
		scale: {
			ticks: {
				beginAtZero: true
			}
		}
	}
});
</script>
</body>
</html>
