<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="assets/img/data61-logo-black.png" sizes="76x76" href="assets/img/data61-logo-black.png">
  <link rel="icon" type="assets/img/data61-logo-black.png" href="assets/img/data61-logo-black.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Blockchain Boosting Trustworthy AI
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- CSS Files -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/now-ui-dashboard.css') }}">
</head>

<body class=" sidebar-mini ">
  <div class="wrapper ">
    <div class="sidebar" data-color= "black">

      <div class="logo">
        <a href="#" class="simple-text logo-mini">
          UN
        </a>
        <a href="#" class="simple-text logo-normal">
          User Name
        </a>

    </div>

<div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="user_home.html">
              <i class="now-ui-icons design_app"></i>
              <p>Data & Models</p>
            </a>
          </li>
          <li>
            <a href="user_profile.html">
              <i class="now-ui-icons users_single-02"></i>
              <p>Profile</p>
            </a>
          </li>
          <li>
            <a href="model_search.html">
              <i class="now-ui-icons ui-1_zoom-bold"></i>
              <p>Model Search</p>
            </a>
          </li>
          <li class="active">
            <a href="data_evaluation.html">
              <i class="now-ui-icons education_atom"></i>
              <p>Data Evaluation & Similarity</p>
            </a>
          </li>
          <li>
            <a href="index.html">
              <i class="now-ui-icons media-1_button-power"></i>
              <p>Log Out</p>
            </a>
          </li>
        </ul>
      </div>
</div>

            <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute bg-primary ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="#">Data Evaluation & Similarity</a>
          </div>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form>
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="now-ui-icons ui-1_zoom-bold"></i>
                  </div>
                </div>
              </div>
            </form>

            <ul class="navbar-nav">
                          <ul class="navbar-nav">
               <li class="nav-item">
    <a class="nav-link" href="data_evaluation.html">
      <i class="now-ui-icons media-2_sound-wave"></i>
      <p>
        <span class="d-lg-none d-md-block">Stats</span>
      </p>
    </a>
  </li>
              <li class="nav-item">
               <a class="nav-link" href="account_selection.html">
                 <i class="now-ui-icons users_single-02"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Account</span>
                  </p>
                </a>
              </li>
            </ul>

      </div>
  </div>
</nav>
<!-- End Navbar -->


                  <div class="panel-header panel-header-lg">
  <div class="header text-center">
      <h2 class="title">Rewards earnt $$</h2>
      <p class="category">Upload more data to earnt more rewards! <a target="_blank"></p>
  </div>

  <canvas id="bigDashboardChart"></canvas>


</div>


                  <div class="content">
                      <div class="row">
  <div class="col-lg-4">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Data Evaluation</h5>
        <h4 class="card-title">Evaluation</h4>
        <h1>{{evaluation}}</h1>
        <div class="dropdown">
          <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
              <i class="now-ui-icons loader_gear"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <a class="dropdown-item text-danger" href="#">Remove Data</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <canvas id="lineChartExample"></canvas>
        </div>
      </div>
      <div class="card-footer">
        <div class="stats">
              <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Data Similarity</h5>
        <h4 class="card-title">Similarity</h4>
        <h1>{{similarity}}</h1>
        <div class="dropdown">
          <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
              <i class="now-ui-icons loader_gear"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <a class="dropdown-item text-danger" href="#">Remove Data</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <canvas id="lineChartExampleWithNumbersAndGrid"></canvas>
        </div>
      </div>
      <div class="card-footer">
        <div class="stats">
              <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Score in %</h5>
        <h4 class="card-title">Score</h4>
        <h1>{{score}}</h1>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <canvas id="barChartSimpleGradientsNumbers"></canvas>
        </div>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
  </div>
            </div>
      </div>

  <!--   Core JS Files   -->
  <script src="assets/js/core/jquery.min.js"></script>
  <!-- Forms Validations Plugin -->
  <script src="assets/js/plugins/jquery.validate.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="assets/js/plugins/bootstrap-notify.js"></script>
  <script src="assets/demo/demo.js"></script>
  <script>
    $(document).ready(function() {
      demo.checkFullPageBackgroundImage();
    });
  </script>
</body>

</html>
