body {
    font-family: 'Raleway';
    background-color: #99ffeb;
}
.loginbox{
    background-color: black;
    margin: 20% auto;
    width: 150px;
    padding: 25px;
    text-align: center;

}

form {
  display: inline-block;
}
h1{
  color: white;
}
.vertbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #666666;
    position: fixed;
    height: 100%;
    overflow: auto;;
}
.vertbar li a {
   text-align: center;
   display: block;
   color: white;
   font-size: 16pt;
   padding: 8px 16px;
   text-decoration: none;
}
.vertbar li {
   float: none;
}
.vertbar li a:hover {
    background-color: #cccccc;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: right;
}

li a {
    display: block;
    font-size: 20pt;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
